---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../../assets/karuna_logo.svg";
import { getCollection } from "astro:content";

const officeEntries = await getCollection("office");
const officeEntry = officeEntries[0]; // Assuming there's only one entry for the office page

const { Content } = await officeEntry.render();
---

<Layout title="Office">
  <div
    class="flex flex-col items-center justify-center w-full mt-24 mx-auto"
    slot="content"
  >
    <Image
      src={logo}
      alt="Karuna Law Logo"
      width={120}
      height={120}
      class="mb-6"
    />
    <h1 class="text-4xl font-bold text-gray-900 mb-4">
      {officeEntry.data.title}
    </h1>
    <article slot="content" class="mx-auto py-8 px-4 max-w-4xl">
      <div class="max-w-prose mx-auto px-4 prose text-justify">
        <Content />

        <Image
          src={logo}
          alt="Karuna Law Logo"
          width={120}
          height={120}
          class="block mx-auto mb-6"
        />

        {
          officeEntry.data.logoDescription && (
            <p class="text-tiny text-gray-500 italic border-t border-gray-300 pt-4 mt-8 slide-in-up">
              {officeEntry.data.logoDescription}
            </p>
          )
        }
      </div>
    </article>
  </div>
</Layout>
