---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Home">
  <div class="flex flex-col items-center justify-center w-full mx-auto">
    <HeroSection />
  </div>
</Layout>
