---
import logo from "../assets/karuna_logo.svg";
const currentYear = new Date().getFullYear();
import { Mail, Facebook, Instagram, Linkedin } from "lucide-astro";
---

<footer
  class="flex flex-col items-center text-white w-full min-h-14 py-8 dharma-gradient"
>
  <div
    class="flex flex-col justify-between gap-4 w-full px-4 md:px-2 md:w-4/6 max-w-6xl mx-auto md:flex-row"
  >
    <!-- Company Info Column -->
    <div class="space-y-6">
      <!-- Logo -->
      <div class="flex items-center">
        <div
          class="w-10 h-10 bg-gray-100 rounded flex items-center justify-center"
        >
          <img src={logo.src} alt="Karuna Law Logo" class="w-8 h-8" />
        </div>
      </div>

      <!-- Mission Statement -->
      <p class="text-white text-sm leading-relaxed">
        Immigration lawyers specialized in refugees law matters.
      </p>

      <!-- Social Media Icons -->
      <div class="flex space-x-4">
        <!-- Facebook -->
        <a
          href="#"
          class="text-white hover:text-dharma-gold-hover transition-colors"
        >
          <Facebook class="size-5" />
        </a>

        <!-- Instagram -->
        <a
          href="#"
          class="text-white hover:text-dharma-gold-hover transition-colors"
        >
          <Instagram class="size-5" />
        </a>

        <!-- LinkedIn -->
        <a
          href="#"
          class="text-white hover:text-dharma-gold-hover transition-colors"
        >
          <Linkedin class="size-5" />
        </a>

        <a
          href="mailto:info@karunalaw.ca"
          class="text-white hover:text-dharma-gold-hover transition-colors"
          aria-label="Email us"
        >
          <Mail class="size-5" />
        </a>
      </div>
    </div>

    <!-- Company & Legal Columns -->
    <div class="space-y-6">
      <!-- Company -->
      <div>
        <a
          href="/"
          class="text-white hover:text-dharma-gold-hover font-medium mb-4"
        >
          Karuna Law
        </a>
        <ul class="space-y-1">
          <li>
            <a
              href=`/team`
              }
              class="text-white hover:text-dharma-gold-hover transition-colors"
              >Our Team</a
            >
          </li>
          <li>
            <a
              href=`/office`
              }
              class="text-white hover:text-dharma-gold-hover transition-colors"
              >Office</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div
    class="text-center w-full border-t border-dharma-gold mt-12 pt-8 md:w-4/6 max-w-6xl mx-auto md:text-left px-4 md:px-2"
  >
    <!-- <p class="text-sm">
      &copy; {currentYear} Karuna Law. All rights reserved.
    </p> -->
    <p class="text-sm">
      &copy; <span id="year"></span> Karuna Law. All rights reserved.
    </p>
  </div>
</footer>

<script is:inline>
  document.getElementById("year").innerText = new Date().getFullYear();
</script>
